.header {
    background: #6D7C56;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 24px 0;
    &__content {
        display: flex;
        justify-content: space-between;

        img {
            cursor: pointer;
        }
    }
    &__left{
        display: flex;
        align-items: center;
        gap: 10px;
        p{
            font-family: 'playfair display';
            font-size: 18px;
            font-weight: 600;
            color: #fff;
            width: 50%;
        }
    }
}
